
/*
    This file is part of Envoi.

    Envoi is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Envoi is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Envoi.  If not, see <http://www.gnu.org/licenses/>.

    (c) Christophe Jacquet, 2009-2011.
 */


html {
    font-family: "trebuchet ms", sans-serif;
}

table.nb {
    border: none;
}

table.nb td, table.nb tr {
    border: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background: #BBB;
}

td, th {
    border: 1px solid black;
    padding: .2em;
}

th {
    background-color: #FFA;
}

#loggedbox {
    background-color: #FFA;
    border: 1px solid black;
    padding: .3em;
}

#menuBox {
    padding: .3em;
    border-bottom: 1px solid black;
}

.error {
    background-color: #FCC;
    color: #800;
    border: 2px solid #800;
    padding: 1em;
    overflow: auto;
}

.success {
    background-color: #CFC;
    color: #080;
    border: 2px solid #080;
    padding: 1em;
    margin-top: 1em;
    overflow: auto;

}