
/*
    This file is part of Envoi.

    Envoi is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Envoi is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Envoi.  If not, see <http://www.gnu.org/licenses/>.

    (c) Christophe Jacquet, 2009-2011.
 */


html, input, textarea, select {
    font-family: "trebuchet ms", sans-serif;
    font-size: medium;
}

table.nb {
    border: none;
}

table.nb td, table.nb tr {
    border: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background: #BBB;
}

td, th {
    border: 1px solid black;
    padding: .2em;
}

th {
    background-color: #FFC;
}

#loggedbox {
    background-color: #FFC;
    border: 1px solid black;
    padding: .3em;
}

#menuBox {
    padding: .3em;
    border-bottom: 1px solid black;
}

.error {
    background-color: #FCC;
    color: #800;
    border: 2px solid #800;
    padding: 1em;
    overflow: auto;
}

.success {
    background-color: #CFC;
    color: #080;
    border: 2px solid #080;
    padding: 1em;
    margin-top: 1em;
    overflow: auto;

}

table.pad {
    width: 100%;
    height: 100%;
}

.pad td {
    text-align: center;
}

.padzone, .padzone input, .padzone textarea, .padzone select {
    font-size: 16pt;
}

.gridform {
    display: table;
}

.gridform div {
    display: table-row;
}

.gridform input[type=password], .gridform input[type=text] {
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    color: #222222;
    position: relative;
    width: 200px;
    padding: 4px;
    display: table-cell;
}

.gridform input[type=password]:focus, .gridform input[type=text]:focus {
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
}

.gridform label {
    display: table-cell;
    padding-right: 15px;
}

#version {
    float: right;
    font-style: italic;
    color: #999;
}

.rendu_summary td, table.rendu_summary, .rendu_summary tr {
    border: none;
}

.rendu_summary td:nth-child(2) {
    padding-right: 40px;
}

.rendu_summary tr {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.rendu_summary li {
    list-style-type: none;
}

.rendu_summary ul {
    padding-left: 0;
}

.filelist {
    border: none;
}

.filelist th {
    border: none;
    background-color: transparent;
    text-align: left;
}

.filelist tr:first-child {
    border-top: none;
}

.filelist td, .filelist th {
    padding-right: 20px;
}

.filelist tr td:first-child input {
    width: 100%;
}

.filelist tr td:first-child {
    min-width: 250px;
}

.filelist tr {
    border-bottom: none;
}

.state_on {
    color: #2B2;
    font-weight: bold;
}

.state_off {
    color: #B22;
    font-weight: bold;
}

.info {
    background-color: #DDD;
    padding: 10px;
    margin: 10px 0;
}

.btn_mod_file, .btn_del_file {
    text-decoration: none;
    padding: 0 10px;
}

.coords_email_ok {
    background-color: #DFD;
}

.coords_email_nok {
    background-color: #FDD;
}